<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>@ViewBag.Title</title>
        
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />

        <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css" />
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="~/Content/bootstrapHelpers/dist/css/bootstrap-formhelpers.min.css" />
        <link rel="stylesheet" href="~/Content/slider/jquery.bxslider.css" />
        <link rel="stylesheet" href="~/Content/home.css" />

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
         <script src="~/Content/bootstrapHelpers/dist/js/bootstrap-formhelpers.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>


       <!-- <script src="//jqueryui.com/jquery-wp-content/themes/jquery/js/modernizr.custom.2.8.3.min.js"></script> 
	    <script src="//jqueryui.com/jquery-wp-content/themes/jquery/js/plugins.js"></script>
	    <script src="//jqueryui.com/jquery-wp-content/themes/jquery/js/main.js"></script>-->
   

    </head>


    <body class="full">
        <header>
            @Html.Partial("~/Views/Shared/_NavBarPartial.cshtml");
        </header>
        <div id="body" class="container-fluid">
            
             @RenderBody()

       </div>
        <footer></footer>
        <script type="text/javascript">
            $(document).ready(function () {
                
                var CookieParser = document.cookie.split('=') ;
                var currLanguage = CookieParser[CookieParser.length - 1];
                if (currLanguage == "fr") {
                    $("#liFrLangue").hide();
                    $("#liEnLangue").show();
                }
                else {
                    $("#liFrLangue").show();
                    $("#liEnLangue").hide();
                }


            });


        </script>
    </body>
</html>
