@{
    ViewBag.Title = "ConfirmationError";
}

<h2>ConfirmationError</h2>

<article> Error if you want to validate your e-mail and you encounter this issue, you can ask for another validation link here. </article>
